@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --font-safe: "SANSAFE", sans-serif;
  --font-space: "SANSPACE", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sansafe: var(--font-safe);
  --font-sanspace: var(--font-space);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

@font-face {
  font-family: "SANSAFE";
  src: url("/fonts/SANSAFE-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SANSPACE";
  src: url("/fonts/SANSPACE-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-safe);
}

@layer utilities {
  .transition-default {
    transition-property: all; 
    transition-duration: 300ms; 
    transition-timing-function: ease-in-out;
  }
}
